*{
    margin: 0;
    padding: 0;
}
nav{
    border-top: #F55D3E solid 2px;
    border-bottom: #F55D3E solid 2px;
    background-color: #B8E0DB;
    padding: 10px;
}
fieldset{
    border: #F55D3E solid 2px;
    border-radius: 5%;
    background-color: #B8E0DB;
    padding: 25px 50px;
    width: 20%;
    margin: 70px auto 70px auto;

}
a{
    color: #F55D3E;
    font-size: 25px;
    margin: 14px;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color:#ffb4a4;
}
body{
    margin: auto;
    text-align: center;
    background-color: #E0F2E9;
}
h1,h2,h3,h4,h5{
    color: #F55D3E;
}
h1{
    font-size: 60px;
    margin: 20px;
    font-family: 'Barlow', sans-serif;
}
h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Barlow', sans-serif;
}
label{
    margin: 15px 0 0 0;
    display: block;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;

}
ul li{
    display: inline;
}
input{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: black solid 2px;
    width: 150px;
}

input:focus,#message:focus{
    outline-width: 0;
    border: #F55D3E solid 2px;
}

.social{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border: none;
}
.social:hover{
    opacity: .5;
}

#bio{
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
#bio::first-letter{
    font-size: 22px;
    font-family: cursive, Times, serif;
    font-weight: lighter;
}
#headshot{
    border-radius: 50%;
    height: 300px;
    margin: 40px;
    box-shadow: 5px 5px 15px rgb(151, 149, 149);
}
#bio-div{
    width: 50%;
    margin: auto;
    background-color: #B8E0DB;
    padding: 30px;
    border: #F55D3E solid 1px;
}
#copyright{
    font-size: 15px;
    margin: 75px;
}
.nonIndexHeader{
    margin:52px 0;
}
#message{
    height: 130px;
    border-radius: 25px;
    text-align: center;
    padding: 8px;
    border: black solid 2px;
    resize:none;
}
#submit{
    position: relative;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #f5443e;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    text-align: center;
    padding: 0;
    margin-top: 15px;
}
#submit:hover{
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
}
